.header {
  position: absolute;
  width: 100%;
  z-index: 2;
  background-color: rgba($mainBlue, 0.3);
  padding: 10px 0;

  &__btn-container {
    float: right;
  }

  &__logo {
    position: absolute;
    background-color: $mainBlue;
    padding: 1.5625rem 2.1875rem;
    top: 0;
  }
}
