.wrapper {
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin: 0 auto;

  &--no-padding-until-medium {
    padding: 0;

    @mixin atMedium {
      padding-left: 18px;
      padding-right: 18px;
    }
  }

  &--no-padding-until-large {
    padding: 0;

    @mixin atLarge {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}
